*{
    font-family: comic sans ms,sand-serif;
    color: white;
}

#wrapper{
    height: 667px;
    width: 1366px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url('images/background.jpg');
    background-attachment: fixed;
}

a{
    text-decoration: none;
    margin: 30px;
    font-variant: small-caps;
}

a:hover{
    color:red;
    font-weight: bolder;
}

#header{
    width: 200px;
    height: 55px;
    position: relative;
    left: 0px;
    background-color: white;
    border: black solid 5px;
    border-style: double;
    border-radius: 10px;
    margin-top: 10px;
    margin-left:13px; 
    display: inline-block;
}

#header>h1{
    display: inline;
    position: relative;
    top: -15px;
    left: 10px;
}

#header>h2{
    display: inline;
    position: relative;
    top: -15px;
    left: -5px;
}

.name{
    color: black;
    font-size: 33px;
    font-weight: bolder;
}

.content{
    width: 550px;
    height: 28px;
    border: white solid 5px;
    display: inline-block;
    margin-top: 24px;
}

#profile{
    margin-right:245px;
    color: red;
    border-bottom: red solid 2px;
}

#content1{
    float: left;
    text-align: right;
    border-left: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-right: 10px;
}

#content2{
    float: right;
    text-align: left;
    border-right: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 10px;
}

#headerwrapper{
    width: 1366px;
    display: inline-block;
}

#page{
    width: 1200px;
    height: 500px;
    margin: 30px auto;
    border: white solid 5px;
}

#page>.link{
    width: 350px;
    text-transform: uppercase;
    font-size: 50px;
    position: relative;
    top:-90px;
    letter-spacing: 20px;
    color: black;
    left: 20px;
    background-color:white;
    padding-left: 15px;
    border-radius: 50px;
}

#pagecontent{
    height: 210px;
    width: 1200px;
    position: relative;
    top: -160px;
    margin: 0px auto;
    border-bottom: white solid 3px;
    text-align: center;
}

#pagecontent>p{
    display: inline;
}

#pagecontent>p>a{
    font-size: 20px;
    background-color: white;
    color: black;
    font-weight: bolder;
    border-radius: 10px;
    padding: 10px;
}

#pagecontent>#contactname{
    position: relative;
    top: 40px;
    left: -365px;
    font-size: 30px;
}

#pagecontent>a>img{
    width:200px;
    height:150px;
    position: relative;
    border-radius: 30px;
}

#pagefooter{
    height: 277px;
    width: 1200px;
    background-color: blue;
    position: relative;
    top:-176px;
}

#pagefooter>ul{
    padding-top: 15px;

}

#pagefooter>ul>li{
    display: inline;
    color:black;

}

#pagecontent>#profilecontent{
    width: 1200px;
    height: 148px;
}

#pagecontent>#profilecontent>li{
    display: inline;
}

#pagefooter>#profilecontent>#bio{
    padding-right: 400px;
    padding-bottom: 70px;
    border-right: black solid 3px;
}

#pagefooter>#profilecontent>#bio>#subbio{
    position: relative;
    left: -20px;
    top: 10px;
    width: 380px;
    border-right: black solid 3px;
}

#pagefooter>#profilecontent>#posts{
    position: relative;
    top: -90px;
    border-left: black solid 3px;
    left: -3px;
    padding-left: 5px;
    padding-bottom: 8px;
}

#pagefooter>#profilecontent>#posts>#subposts{
    position: relative;
    left: 420px;
    top: 10px;
    width: 700px;
}

#socialnetwork{
    width: 281px;
    height: 28px;
    position: relative;
    top: -30px;
    left: 1013px;
}

#socialnetwork>p{
    color: black;
    background-color: white;
    padding: 5px;
    padding-top: 0px;
    float: left;
    position: relative;
    top:-16px;
}

#socialnetwork>a{
    padding: 5px;
    margin: 0px;
}

#socialnetwork>a>img{
    width: 25px;
    height: 25px;
}

#footer{
    position: relative;
    width: 1200px;
    top: -45px;
}

#footer>p{
    text-align: center;
}